.checkout-card {
  background: var(--offwhite);
  backdrop-filter: blur(5px);
  -webkit-backdrop-filter: blur(5px);
  border: 0.5px solid var(--border-white);
  border-radius: 20px;
  box-shadow: 0 4px 30px var(--dark-gray);
  color: var(--white);
  padding: 30px;
  margin-top: 80px;
  transition: 0.3s;
}

.checkout-card:hover {
  transform: translateY(-3px);
}

.checkout-card label {
  color: var(--white);
  font-size: 14px;
  margin-bottom: 5px;
}

.checkout-card input,
.checkout-card textarea {
  background: var(--offwhite);
  border: 0.5px solid var(--border-white);
  margin: 8px 0;
  padding: 10px 15px;
  font-size: 13px;
  border-radius: 10px;
  width: 100%;
  outline: none;
  color: var(--white);
}

.checkout-card textarea {
  resize: none;
  height: 80px;
}

.custom-btn {
  background: var(--offwhite);
  color: var(--white);
  border: 0.5px solid var(--border-white);
  border-radius: 10px;
  border: none;
  font-weight: 600;
  padding: 10px;
  transition: 0.3s;
}

.custom-btn:hover {
  color: rgb(2, 230, 255);
  border: 1px solid rgb(2, 230, 255);
}

.trans-btn {
  background-color: transparent;
  border: 1px solid rgb(2, 230, 255);
  color: rgb(2, 230, 255);
  border-radius: 10px;
  padding: 10px;
  transition: 0.3s;
}

.trans-btn:hover {
  background-color: rgb(2, 230, 255);
  color: var(--dark-gray);
}

.blur-popup {
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px);
  border-radius: 20px;
}
.checkout-card input,
.checkout-card textarea {
  background: var(--offwhite);
  border: 0.5px solid var(--border-white);
  border-radius: 10px;
  width: 100%;
  padding: 10px 15px;
  color: var(--white);
  font-size: 13px;
  outline: none;
}

.checkout-card label {
  color: #ddd;
  font-size: 14px;
}

.payment-options label {
  color: #ccc;
  cursor: pointer;
}

.order-summary ul li {
  background: rgba(255, 255, 255, 0.05);
  border-radius: 10px;
  padding: 8px 12px;
  margin-bottom: 8px;
  display: flex;
  justify-content: space-between;
}
.payment-options {
  display: flex;
  justify-self: start;
  flex-direction: row;
  align-items: flex-start;
  gap: 30px;
  margin-top: 10px;
}

.payment-options label {
  background: rgba(255, 255, 255, 0.05);
  border: 0.5px solid var(--border-white);
  border-radius: 10px;
  padding: 10px 15px;
  color: #ddd;
  width: 100%;
  font-size: 13px;
  display: flex;
  align-items: center;
  transition: 0.3s;
}

.payment-options label:hover {
  background: rgba(2, 230, 255, 0.1);
  border-color: rgb(2, 230, 255);
}

.payment-options input[type="radio"] {
  accent-color: rgb(2, 230, 255);
  margin-right: 10px;
  transform: scale(1.2);
}
.order-summary {
  margin-top: 80px;
}
