.contact-hero-bg h1 {
  font-size: 2.5rem;
    color: var(--white);

}
.contact-container {
  background: var(--offwhite);
  backdrop-filter: blur(5px);
  border: 0.5px solid rgba(255, 255, 255, 0.542);
  border-radius: 20px;
  box-shadow: 0 4px 30px rgba(31, 31, 31, 0.385);
  padding: 30px;
  margin: 30px auto;
  max-width: 600px;
  text-align: start;
  color: var(--white);
  display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.contact-section-title {
  font-size: 2rem;
  margin-bottom: 20px;
}
.contact-info p {
  margin: 10px 0;
  font-size: 1.1rem;
}
.contact-info i {
  margin-right: 10px;
  color: var(--hover-accent);
} 
.contact-social-icons {
  margin-top: 20px;
}
.contact-social-icons a {
  margin: 0 10px;
  color: var(--white);
  font-size: 1.5rem;
  transition: color 0.3s ease;
}
.contact-social-icons a:hover {
  color: var(--hover-accent);
}

.fa-heart {
  font-size: 20px;
}
.fa-cart-shopping {
  font-size: 20px;
  margin-right: 10px;
}
.fa-bag-shopping {
  margin: 10px 20px;
  color: var(--white);
  font-size: 20px;
}
.section-title {
  color: var(--white);
}
.fa-bag-shopping:hover {
  color: var(--hover-accent);
  transform: scale(1.05);
}
.fa-magnifying-glass:hover {
  color: var(--hover-accent);
  transform: scale(1.05);
}
.fa-user:hover {
  color: var(--hover-accent);
  transform: scale(1.05);
}
@media (max-width: 768px) {
.contact-container{
  margin: 20px;
}
}
