:root {
  --main-bg1: #327c99;
  --main-bg2: rgba(53, 112, 135, 1);
  --main-bg3: rgba(53, 70, 74, 1);
  --main-bg4: rgba(33, 45, 48, 1);
  --main-bg5: rgba(36, 34, 31, 1);

  --white: #fff;
  --offwhite: rgba(249, 249, 249, 0.3);
  --light-gray: #ccc;
  --gray: rgba(233, 233, 233, 0.886);
  --dark-gray: rgba(31, 31, 31, 0.385);
  --border-white: rgba(255, 255, 255, 0.542);
  --border-light: rgba(255, 255, 255, 0.262);

  --hover-accent: rgb(2, 230, 255);
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: Impact, Haettenschweiler, "Arial Narrow Bold", sans-serif;
}
.swal2-popup {
  color: var(--white) !important;
  font-family: "Poppins", sans-serif;
}
.swal2-title {
  color: var(--white) !important;
}
.swal2-html-container {
  color: var(--light-gray) !important;
}

body {
  background: var(--main-bg1);
  background: linear-gradient(
    0deg,
    var(--main-bg1) 0%,
    var(--main-bg2) 26%,
    var(--main-bg3) 59%,
    var(--main-bg4) 74%,
    var(--main-bg5) 100%
  );
  text-align: center;
  scroll-behavior: smooth;
}

.navbar-logo {
  font-size: 28px;
  letter-spacing: 1px;
  color: var(--white);
  text-decoration: none;
}
.rotate {
  margin-top: 90px;
  animation: spin 4s linear infinite;
}

@keyframes spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.custom-navbar {
  margin: 20px;
  background-color: var(--offwhite);
  backdrop-filter: blur(5px);
  -webkit-backdrop-filter: blur(5px);
  border-radius: 10px;
  border: 0.5px solid var(--border-light);
  box-shadow: 0 4px 30px var(--dark-gray);
}
.custom-navbar a {
  color: var(--white);
  font-weight: 500;
  letter-spacing: 1px;
}

.ms-auto a {
  color: var(--white);
  font-weight: 500;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  letter-spacing: 1px;
}
.navbar-toggler {
  border: none;
  background: transparent;
  color: var(--white);
  font-size: 1.5rem;
  outline: none;
  box-shadow: none;
}

.navbar-toggler .menu-icon,
.navbar-toggler .close-icon {
  transition: 0.3s;
}

.navbar-toggler:hover i {
  color: var(--hover-accent);
}
.navbar-toggler:focus {
  outline: none;
  box-shadow: none;
}

.navbar-nav .nav-link {
  color: var(--white);
  margin: 0 10px;
}

.card-home {
  background: var(--offwhite);
  backdrop-filter: blur(5px);
  border: 0.5px solid var(--border-white);
  border-radius: 20px;
  box-shadow: 0 4px 30px var(--dark-gray);
  color: var(--white);
  padding: 20px;
  transition: 0.3s;
  text-align: center;
}

.name {
  color: var(--white);
  font-size: 100px;
  font-family: "Times New Roman", Times, serif;
  letter-spacing: 0.5px;
  font-weight: 500;
}

.desc,
.brand {
  margin: 5px;
  justify-content: center;
  color: var(--white);
  font-size: 15px;
  font-family: "Times New Roman", Times, serif;
  letter-spacing: 0.5px;
  font-weight: 400;
}

.price {
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: "Times New Roman", Times, serif;
  color: var(--white);
}
p {
  font-family: "Times New Roman", Times, serif;
}
.brand {
  color: var(--gray);
}

.fa-bag-shopping {
  margin: 10px 20px;
  color: var(--white);
  font-size: 20px;
}

.fa-bag-shopping:hover {
  color: var(--hover-accent);
  transform: scale(1.05);
}
.fa-magnifying-glass:hover {
  color: var(--hover-accent);
  transform: scale(1.05);
}
.fa-user:hover {
  color: var(--hover-accent);
  transform: scale(1.05);
}
.section-title {
  color: var(--white);
}

.card-btn {
  margin-top: 70px;
  background: var(--offwhite);
  border-radius: 50px;
  width: 20%;
  justify-content: center;
  height: 40px;
  color: var(--white);
  font-family: "Times New Roman", Times, serif;
  font-size: 15px;
  border: 0.5px solid var(--border-white);
}
.card-btn:hover {
  background-color: var(--main-bg1);
  color: var(--white);
  transform: scale(1.05);
  box-shadow: 0 1px 10px var(--hover-accent);
}

.price p {
  display: inline;
  margin: 0;
}

.footer {
  margin-top: 30px;
  padding-top: 2rem;
  padding-bottom: 1rem;
  background: rgba(31, 30, 30, 0.3);
  color: var(--light-gray);
  text-align: center;
  font-family: "Poppins", sans-serif;
}

.footer-logo {
  font-family: "Playfair Display", serif;
  font-size: 1.8rem;
  letter-spacing: 1px;
  color: var(--white);
}

.footer p {
  font-size: 0.95rem;
  color: #dad9d9;
}

.banner1 {
  color: var(--white);
  position: relative;
  margin-top: 10px;
  padding-top: 10px;
  font-size: 0.95rem;
}

.footer a {
  color: var(--white);
  margin: 0 10px;
  text-decoration: none;
  transition: color 0.3s ease;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
}

.footer a:hover {
  color: var(--hover-accent);
}

.social-icons a {
  font-size: 1.5rem;
}

.footer-links li {
  margin: 0 10px;
}
.blur-popup {
  backdrop-filter: blur(15px);
  -webkit-backdrop-filter: blur(15px);
  border-radius: 20px;
}

.card-home:hover {
  transform: scale(1.03);
}
@media (max-width: 768px) {
  .hero h1 {
    font-size: 1.8rem;
  }
  .hero p {
    font-size: 1rem;
  }
  .card-home {
    margin: 10px auto;
  }
  .banener-btn {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    white-space: nowrap;
    padding: 10px 60px;
    font-size: 16px;
    text-align: center;
  }
}
.price-icon {
  width: 10px;
  height: auto;
  margin-left: 5px;
  vertical-align: middle;
}

.resent {
  flex: 1;
  padding: 10px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 500px;
}

.page-search-card {
  background: var(--offwhite);
  backdrop-filter: blur(5px);
  -webkit-backdrop-filter: blur(5px);
  border: 0.5px solid var(--border-white);
  border-radius: 20px;
  box-shadow: 0 4px 30px var(--dark-gray);
  color: var(--white);
  padding: 15px 20px;
  display: flex;
  align-items: center;
  gap: 10px;
  width: 315px;
  margin: 90px auto;
  transition: 0.3s;
}

.page-search-card input {
  flex: 1;
  background: transparent;
  border: none;
  outline: none;
  color: var(--white);
  font-size: 16px;
}

.page-search-card button {
  background: var(--offwhite);
  border: 0.5px solid var(--border-white);
  border-radius: 18px;
  padding: 8px 12px;
  cursor: pointer;
  color: var(--white);
  font-size: 16px;
  transition: 0.3s;
}

.page-search-card button:hover {
  background-color: var(--main-bg1);
  color: var(--white);
  transform: scale(1.05);
  box-shadow: 0 1px 10px var(--hover-accent);
}

.row {
  display: flex;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  gap: 30px;
  justify-items: center;
  align-items: start;
  margin: 0 auto;
  width: 100%;
  max-width: 1100px;
}

.search-card form {
  display: flex;
  width: 100%;
  gap: 10px;
}

.search-card input {
  flex: 1;
  padding: 8px 12px;
}

.col-lg-4 h1 {
  color: var(--white);
  text-align: center;
  width: 100%;
}
.col-lg-4 h3 {
  color: var(--white);
  text-align: center;
  width: 50%;
}

@media (max-width: 768px) {
  .card-home.resent {
    width: 100%;
    max-width: 350px;
    margin: 20px auto;
  }

  .search-card {
    width: 90%;
    margin: 50px auto;
  }

  .cart-page-container {
    width: 100%;
    margin: 0 auto;
  }

  .col-lg-4 {
    margin-top: 30px;
  }
}

.error-message {
  color: var(--white);
  text-align: center;
  display: inline-block;
  font-size: 20px;
  white-space: nowrap;
}
.cart-icon {
  position: relative;
  display: inline-block;
}

.cart-count {
  position: absolute;
  top: 7px;
  right: 10px;
  background-color: var(--hover-accent);
  color: white;
  font-size: 10px;
  font-weight: bold;
  border-radius: 50%;
  padding: 2px 6px;
  min-width: 10px;
  text-align: center;
}
